.pytest_cache/
.vscode/
data/
mlflow.db

!cancer-ml-project/data/
cancer-ml-project/data/*
!cancer-ml-project/data/raw/
cancer-ml-project/data/raw/*
!cancer-ml-project/data/raw/The_Cancer_data_1500_V2.csv

cancer-ml-project/.tmp/
cancer-ml-project/mlruns/
cancer-ml-project/__pycache__/
cancer-ml-project/.pytest_cache/
cancer-ml-project/pytest-cache-files-*/
cancer-ml-project/src/__pycache__/
cancer-ml-project/tests/__pycache__/
